<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="./bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         syntaxCheck="true"
         testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader">
    <testsuite name="Silex Modules Skeleton Test Suite">
        <directory sufix="Test.php">./Tests/</directory>
    </testsuite>
</phpunit>
