<!DOCTYPE html>
<!--[if IE 8]><html class="ie8"><![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% block javascripts_head %}{% endblock %}
</head>
<body data-spy="scroll" data-target="#header-navbar" data-offset="51">
{% block body %}{% endblock %}
{% block javascripts_bottom %}{% endblock %}
</body>
</html>
