conf.app:
  php_settings:
    display_errors: false
    display_startup_errors: false
    error_log: ../../data/logs/php.log

  silex:
    debug: false
    modules:
      0: authentication

  monolog:
    app: app.log
    handlers:
      sql: sql.log
      controller: controller.log

  template:
    engine: twig

  database:
    adapter: Mysql
    driver: pdo_mysql
    host: localhost
    dbname: test
    user: root
    password: toor
    charset: utf8
